{
    "parserOptions": {
        "ecmaVersion": 6
    },
    "root": true,
    "env": {
        "browser": true
    },
    "extends": "eslint:recommended",
    "rules": {
        // Default rules we've disabled until the failures are fixed.
        // Remove a line to enable the rule.
        "comma-dangle": "off",
        "no-console": "off",
        "no-redeclare": "off",
        "no-undef": "off",
        "no-unused-vars": "off",
        "strict": "off",

        // Non-default rules we've chosen to enable.
        "accessor-pairs": "error",
        "comma-style": "error",
        "eol-last": "error",
        "eqeqeq": "error",
        "indent": ["error", 2, {"SwitchCase": 1}],
        "linebreak-style": "error",
        "new-cap": "error",
        "new-parens": "error",
        "no-array-constructor": "error",
        "no-bitwise": "error",
        "no-caller": "error",
        "no-div-regex": "error",
        "no-empty-pattern": "error",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-extra-bind": "error",
        "no-floating-decimal": "error",
        "no-implied-eval": "error",
        "no-iterator": "error",
        "no-label-var": "error",
        "no-labels": "error",
        "no-lone-blocks": "error",
        "no-multi-str": "error",
        "no-native-reassign": "error",
        "no-new": "error",
        "no-new-func": "error",
        "no-new-object": "error",
        "no-new-wrappers": "error",
        "no-octal-escape": "error",
        "no-proto": "error",
        "no-return-assign": "error",
        "no-script-url": "error",
        "no-self-compare": "error",
        "no-sequences": "error",
        "no-shadow-restricted-names": "error",
        "no-spaced-func": "error",
        "no-trailing-spaces": "error",
        "no-undef-init": "error",
        "no-unexpected-multiline": "error",
        "no-unused-expressions": "error",
        "no-useless-call": "error",
        "no-void": "error",
        "no-with": "error",
        "keyword-spacing": "error",
        "semi": "error",
        "yoda": "error"
    }
}
