<html>
<body>

<div ng-app="wptview" ng-controller="wptviewController">
  <input type="file" id="log_file" custom-on-change="uploadFile">
  <br>
  <button ng-click="fillTable()" ng-disabled="isGenerateDisabled">Generate!</button>
  <table ng-table="resultsTable" border="1">
    <tr>
      <td>Test File</td>
      <td>Result</td>
      <td>Error Message</td>
    </tr>
    <tr ng-repeat="result in results">
      <td>{{ result.test }}</td>
      <td>{{ result.status }}</td>
      <td>{{ result.message }}</td>
    </tr>
  </table>
</div>
<script src="lf_scripts/lovefield.js"></script>
<script src="LovefieldService.js"></script>
<script src="logcruncher.js"></script>
<script src="angular.min.js"></script>
<script src="angular_scripts.js"></script>
</body>
</html>