:root {
    font-family: "Fira Sans", "DejaVu Sans", "Bitstream Vera Sans", "Sans";
    font-size: 14px;
    padding: 0;
    margin: 0;
    background-color: #f8f8f8;
}

.page {
    display: inline-block;
    width: 100%;
}

h1 {
    margin-top:0;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em;
    background-color: #e7ebf1;
}

#message {
    font-family: "Fira Sans Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monospace";
}
.detailsPanel {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 15vh;
    width: 100%;
    background-color: #FFFFFF;
    border-top: solid black;
    padding: 1%;
}

#wptview {
    padding-left: 16px;
    padding-right: 16px;
}

#runsData {
    display: flex;
}

#runsData > div {
    padding-right: 16px;
}

#progressBar {
    width: 40%;
    height: 20px;
    margin-left: 30%;
    margin-right: 30%;
    top: 60%;
    position: absolute;
 }

table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: center;
}


th {
    background-color: #e7ebf1;
}

tbody > tr > td {
    border-bottom: thin solid black;
}

.details-legend {
    margin-botom:5px;
    cursor: pointer;
}

#resultsTable > tbody > tr:hover {
    background-color: #e7ebf1;
}

#resultsTable > tbody > tr > td:first-child {
    font-family: "Fira Sans Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monospace";
    font-size: 10px;
    text-align:left;
}

#resultsTable > tbody > tr > td:nth-child(2) {
    text-align:left;
}

.expected, .result {
    width: 5em;
}

.result {
    cursor: pointer;
}

.PASS, .OK {
    background-color: green;
    color: white;
}

.FAIL {
    background-color: red;
    color: white;
}

.SKIP {
    background-color: blue;
    color: white;
}

.ERROR {
    background-color: orange;
    color: white;
}

.TIMEOUT, .NOTRUN {
    background-color: purple;
    color: white;
}

.CRASH {
    background-color: black;
    color: white;
}